@import "public.less";
.eg-crumb {
  ul {
    li {
      float: left;
      position: relative;
      margin: 10px;
      cursor: pointer;
      a {
        display: block;
        float: left;
        background: transparent;
        color: @black;
        &:after, &:before {
          display: inline-block;
          background-color: @gray-a0;
          position: absolute;
          content: "";
          right: -12px;
          height: 8px;
          width: 1px;
        }
        &:after {
          top: 9px;
          .transform(rotate(45deg));
        }
        &:before {
          top: 4px;
          .transform(rotate(135deg));

        }
      }

    }
    li:last-child {
      cursor: default;
      color: @gray-bb;
      a{
        &:before, &:after{
          display: none;
        }
      }
    }
  }
}


