@import "color.less";
@import "public.less";
.eg-input-text{
    border: 1px solid @gray-dd;
    font-size:14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: @white;
    padding: 10px;
    color: @black-33;
    width: 100%;
    outline-color: @orange-btn;
    &:disabled{
        background: @gray-ee;
        color:@black-99;
    }
}
.eg-input-checkbox,.eg-input-radio{
    position: relative;
    text-align: left;
    //margin-bottom: 10px;
    //margin-right: 10px;
    min-height: 24px;
    display: inline-block;
    input[type="checkbox"],input[type="radio"]{
        /*width: 14px;
        height: 14px;
        border: 1px solid @black-99;*/
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        pointer-events: all;
        opacity: 0;
        z-index: 2;
        left: 0;
        &:hover{
            border-color: @orange-btn;
        }
    }
    .box{
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        float: left;
        position: relative;
        display: block;
        width: 16px;
        margin-right: 10px;
        margin-left: 0;
        height: 24px;
        .checkbox{
            width: 14px;
            height: 14px;
            border: 1px solid @black-99;
            position: relative;
            top: 5px;
            left: 1px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            background: @white;
            .round{
                display: none;
            }
        }
        .active{

        }
    }
    label{
        float: left;
        position: relative;
        display: block;
        line-height: 24px;
    }
}
/*图片*/
.checkbox-back{
    background-position: center center;
    background-repeat: no-repeat;}
.eg-input-checkbox-active{
    .box{
        .checkbox{
            background: @orange-btn;
            border-color: @orange-btn;
            .checkbox-back;
        }
        .eg-icon-tick{
            &:before{
                height: 5px;
                width: 2px;
                left: 3px;
                top: 5px;
            }
            &:after{
                height: 8px;
                width: 2px;
                left: 7px;
                top: 2px;
            }
        }
    }

}

.eg-input-radio{
    .box{
        .checkbox{
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            //border-color: @orange-btn;
            .round{

                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background: @orange-btn;
                margin: 4px;
                width: 8px;
                height: 8px;
                margin: 2px;
            }
        }
    }
}
.eg-input-radio-active{
    .box{
        .checkbox{

            border-color: @orange-btn;
            .round{
                display: block;
            }
        }
    }

}
.eg-input-radio-disabled{
    .box{
        .checkbox{

            background: @gray-ee;
            color:@black-99;
            border: 1px solid @black-99;
            .round{
                background: @gray-cc;
            }
        }
    }
    label{
        color:@black-99;
    }
}

.eg-input-checkbox-disabled{
    .box{
        .checkbox{
            background: @gray-ee;
            color:@black-99;
            border-color:@gray-cc;
        }
        .eg-icon-tick{
            &:before{
                background-color: @gray-fe;
            }
            &:after{
                background-color: @gray-fe;
            }
        }
    }
    label{
        color:@black-99;
    }

}
.eg-input-checkbox-active.eg-input-checkbox-disabled{
    .box{
        .checkbox{
            background: @gray-cc;
            color:@black-99;

        }
    }
}
.eg-input-group{
    overflow: hidden;
    .eg-input-radio,.eg-input-checkbox{
        margin-top: 10px;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
    }
    .eg-input-group-container{
        margin-top: -10px;
    }
}
.eg-icon-container{
    position: relative;
    display: inline-block;
    .eg-input-text{
        padding-right: 30px;
    }
}