.flex-block() {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-inline() {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.flex-flow(@direction: row, @wrap: nowrap) {
    -moz-flex-flow: @direction @wrap;
    -ms-flex-direction: @direction;
    -ms-flex-wrap: @wrap;
    -webkit-flex-flow: @direction @wrap;
    flex-flow: @direction @wrap;
}
.align-content(@alignment) {
    -moz-align-content: @alignment;
    -ms-align-content: @alignment;
    -webkit-align-content: @alignment;
    align-content: @alignment;
}
.flex-direction(@direction: row) {
    -webkit-flex-direction: @direction;
    -moz-flex-direction: @direction;
    -ms-flex-direction: @direction;
    flex-direction: @direction;
}
.flex-wrap(@wrap: nowrap) {
    -webkit-flex-wrap: @wrap;
    -moz-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}
.justify-content(@justification) {
    -webkit-box-pack: @justification;
    -moz-box-pack: @justification;
    -ms-flex-pack: replace(@justification, "flex-", "");
    -webkit-justify-content: @justification;
    justify-content: @justification;
}
.align-items(@mode) {
    -webkit-box-align: @mode;
    -moz-box-align: @mode;
    -ms-flex-align: @mode;
    -webkit-align-items: @mode;
    align-items: @mode;
}
.flex(@args: none) {
    -webkit-flex: @args;
    -moz-flex: @args;
    -ms-flex: @args;
    -webkit-flex: @args;
    flex: @args;

}
.order(@order: 0) {
    -webkit-box-ordinal-group: @order;
    -moz-box-ordinal-group: @order;
    -ms-box-ordinal-group: @order;
    -ms-flex-order: @order;
    -webkit-order: @order;
    -moz-order: @order;
    -ms-order: @order;
    order: @order;
}
.flex-grow(@grow: 1) {
    -webkit-flex-grow: @grow;
    -moz-flex-grow: @grow;
    -ms-flex-grow: @grow;
    -webkit-flex-grow: @grow;
    flex-grow: @grow;
}
.flex-shrink(@shrink: 1) {
    -webkit-flex-shrink: @shrink;
    -moz-flex-shrink: @shrink;
    -ms-flex-shrink: @shrink;
    -webkit-flex-shrink: @shrink;
    flex-shrink: @shrink;
}
.flex-basis(@basis: auto) {
    -webkit-flex-basis: @basis;
    -moz-flex-basis: @basis;
    -ms-flex-basis: @basis;
    -webkit-flex-basis: @basis;
    flex-basis: @basis;
}
.align-self(@align: auto) {
    -webkit-align-self: @align;
    -moz-align-self: @align;
    -ms-align-self: @align;
    -webkit-align-self: @align;
    align-self: @align;
}